main {
    min-height: 500px;
    margin-top: 0px;
}


#section-banner {
    min-height: 400px;
}

#section-banner img {
    height: 500px;
}

.example-card {
    max-width: 400px;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 1rem;
}

mat-grid-list {
    margin: 10px 0;
}

mat-grid-tile {
    padding: 2px;
    border-radius: 30px;
}


mat-card-header {
    display: flex;
    align-items: center;
    justify-content: center;


}

mat-card-actions {
    display: flex;
    justify-content: space-around;
}

mat-card-actions p {
    font-size: 25px;
    color: green
}

mat-card img {
    height: 250px
}